.not_done {
    font-weight: bold;
}

.complete {
    color: green;
    font-style: italic;
    text-decoration: line-through;
}

li {
    font-size: 20px;
    font-family: "Comic Sans MS";
}

button {
    margin: 0 15px;
    font-size: 14px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    padding: 5px;
    font-family: "Lucida Bright";
}